# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\good-play\git-hub\ps-public01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
